{% extends "base.html" %}
{% block pagetitle %}Login{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}

<p>Hi {{ current_user.id }}! You are currently signed in.</p>

{% else %}

<form method="POST" action="/login">
    {{ form.csrf_token }}

    <div>{{ form.username(class="m-2", value=request.args.username, placeholder="Username") }}</div>
    {% if form.username.errors %}
        <ul class="text-danger">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}

    <div>{{ form.password(class="m-2", placeholder="Password") }}</div>
    {% if form.password.errors %}
        <ul class="text-danger">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}

    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>

</form>

{% endif %}

{% endblock %}
