{% extends "base.html" %}
{% block pagetitle %} {{ username }} {% endblock %}

{% block content %}

{% if not posts %}
    <h5 class="display-5">No posts yet... Say what's <a href="{{ url_for('index') }}">on your mind!</a></h5>
{% else %}

<h3 class="display-3">Posts</h3>

{% for post in posts %}

<div class="card m-5 p-2">
    <div class="card-body">
        <h5 class="card-title">{{ post.by_user }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.post_time }}</h6>
        <p class="card-text">{{ post.content | safe }}</p>
    </div>
</div>

{% endfor %}


{% endif %}

{% endblock %}
